/*
	Name:       Panda Syntax
	Author:     Siamak Mokhtari (http://github.com/siamak/)
	CodeMirror template by Siamak Mokhtari (https://github.com/siamak/atom-panda-syntax)
*/
.cm-s-panda-syntax {
	background: #292A2B;
	color: #E6E6E6;
	line-height: 1.5;
	font-family: 'Operator Mono', 'Source Code Pro', Menlo, Monaco, Consolas, Courier New, monospace;
}
.cm-s-panda-syntax .CodeMirror-cursor { border-left: 2px solid #ff2c6d; }
.cm-s-panda-syntax .CodeMirror-activeline-background {
	background: rgba(99, 123, 156, 0.1);
}
.cm-s-panda-syntax .cm-comment {
	font-style: italic;
	color: rgb(106,153,85);
}
.cm-s-panda-syntax .cm-string {
	color: rgb(206,145,120);
}
.cm-s-panda-syntax .cm-tag {
	color: rgb(86, 156, 214);
}
.cm-s-panda-syntax .cm-attribute {
    color: rgb(156,220,254);
}
.cm-s-panda-syntax .cm-def {
	color: rgb(220, 220, 170);
}
.cm-s-panda-syntax .cm-operator {
	color: rgb(212, 212, 212);
}
.cm-s-panda-syntax .CodeMirror-selected {
	background: rgb(38, 79, 120);
}
.cm-s-panda-syntax .cm-meta {
	color: #b084eb;
}
.cm-s-panda-syntax .cm-number {
	color: rgb(181, 206, 168);
}
.cm-s-panda-syntax .cm-variable {
	color: rgb(156, 220, 254);
}
.cm-s-panda-syntax .cm-variable-2 {
	color: rgb(156, 220, 254);
}
.cm-s-panda-syntax .cm-property {
	color: rgb(215, 186, 125);
}
.cm-s-panda-syntax .cm-error { border-bottom: 1px solid red; color: #BC3F3C;}
.cm-s-panda-syntax .CodeMirror-gutters {
	background: #313335; 
	border-right: 1px solid #313335;
}
.cm-s-panda-syntax .CodeMirror-linenumber {
	color: #606366;
}
.cm-s-panda-syntax span.cm-bracket { color: rgb(128, 128, 128); }
/* ******************************************************************* */
.cm-s-panda-syntax .cm-string-2 {
    color: #FFB86C;
}
.cm-s-panda-syntax .cm-atom {
	color: #ff2c6d;
}
.cm-s-panda-syntax .cm-keyword {
	color: #FF75B5;
}
.cm-s-panda-syntax .cm-variable-3, .cm-s-panda-syntax .cm-type {
	color: #ff9ac1;
}
.cm-s-panda-syntax .cm-unit {
    color: #ffb86c;
}
.cm-s-panda-syntax .CodeMirror-matchingbracket {
    border-bottom: 1px dotted #19F9D8;
    padding-bottom: 2px;
    color: #e6e6e6;
}
