*{box-sizing: border-box;}
body{
    height: 3000px;
}
.col-2{
    background-color: white;
    margin-bottom: 10px;
}
.editorHTML{
    clear: both;
    float: left;
    width: 22%;
}
.editorCSS{
    float: left;
    width: 27%;
    margin-left: 5px;
}
.frame{
    float: left;
    width: 50%;
    margin-left: 5px;
}
iframe{
    height: 400px;
    width: 100%;
    border: 2px solid black;
}
.editorHTML > h1{text-align: center;margin: 0;}
.editorCSS > h1{text-align: center;margin: 0;}
.frame > h1{text-align: center;margin: 0;}
.calit{
    background-color: #2B2B2B;
    color: rgb(156, 220, 254);
    font-size: 18px; 
    font-weight: bold;
    padding: 10px;
    box-shadow: 0px 0px 5px 2px rgb(156, 220, 254);
    transition: all 0.5s;
    clear: both;
    cursor: pointer;
}
.calit:hover{background-color: #444;}
fieldset{
    border: 5px solid purple;
}
legend{
    font-size: 30px;
    font-weight: bold;
}
.pales{
    position: relative;
    top: 15px;
}
.pales2{
    position: relative;
    top: 15px;
    width: 35px;
}
.val{
    padding: 0px 0px 15px 10px;
}
table{
    background-color: #292A2B;
    /* box-shadow: 0px 0px 5px 5px rgb(156, 220, 254); */
}
th{
    /* background-color: #292A2B; */
    /* border: 5px solid rgb(156, 220, 254); */
    color: rgb(156, 220, 254);
    padding: 15px;
    box-shadow: 0px 0px 10px 1px rgb(156, 220, 254);
}
td{
    box-shadow: 0px 0px 10px 1px rgb(156, 220, 254);
    padding: 10px;
    /* background-color: #292A2B; */
    /* border: 5px solid rgb(156, 220, 254); */
    color: white;
}

/* tr,td,th{border: 2px solid purple;} */
/**************************** Code ********************************/
.html{
    width: 20%; 
    background-color: #2B2B2B;
    float: left;
    margin: 50px 50px 50px 0px;
    /* padding: 5px; */
    font-size: 16px;
}
.css{
    width: 350px; 
    background-color: #2B2B2B;
    float: left;
    margin: 20px 50px 30px 0px;
    font-size: 16px;
}

.fl-1{
    width: 10%;
    height: 200px;
    float: left;
    padding: 5px;
    text-align: right;
    background-color: #313335;
}
.fl-2{
    padding: 5px;
    width: 90%;
    height: 200px;
    float: left;
    background-color: #2B2B2B;

}
/* .ekran{
    margin-top: 50px;
    float: right;
    width: 50%;
    height: 200px;
    border: 2px solid;
} */
.lineNum{color: #606366}
.center{text-align: center;}
.white{color: white}
.selektr{color: rgb(218, 186, 125);}
.figura{color: #A9B7C6}
.fan{color: rgb(156, 220, 254)}
.nuqta{color: white}
.string{color: rgb(255,120,180);}
.string2{color: rgb(206,145,120);}
.number{color: rgb(181, 206, 168);}
.tag{color: rgb(86, 156, 214);}
.atr{color: rgb(156,220,254);}
code{color: rgb(128,128,128);}
.size{font-size: 16px; font-weight: bold;}
.l{margin-left: 20px;}
.xl{margin-left: 135px;}
.p{padding: 5px;}
hr{clear: both;}
/* ************************Animetion*************************** */
/* ////////////////////////Backgrund//////////////////////// */
.aniBac{animation: aniBac 12s 1s infinite; position: relative;}
.aniBac1{animation: aniBac1 12s 1.3s infinite; position: relative;}
.aniBac2{animation: aniBac2 12s 1.6s infinite; position: relative;}
.aniBac3{animation: aniBac3 12s 1.9s infinite; position: relative;}
.aniBac4{animation: aniBac4 12s 2.2s infinite; position: relative;}
.aniBac5{animation: aniBac5 12s 2.5s infinite; position: relative;}
.aniSlesh{animation: aniSlesh 12s 2.2s infinite; position: relative; opacity: 0;}
/* ////////////////////////Border//////////////////////// */
.aniBorS{animation: aniBorS 12s 1s infinite; position: relative;}
.aniBorW{animation: aniBorW 12s 1.3s infinite; position: relative;}
.aniBorC{animation: aniBorC 12s 1.6s infinite; position: relative;}

.aniSleshBor{animation: aniSleshBor 12s 2.2s infinite; position: relative; opacity: 0;}
/* ////////////////////////Border-style//////////////////////// */
.aniBorTopS{animation: aniBorTopS 12s 1s infinite; position: relative;}
.aniBorRightS{animation: aniBorRightS 12s 1.3s infinite; position: relative;}
.aniBorBottomS{animation: aniBorBottomS 12s 1.6s infinite; position: relative;}
.aniBorLeftS{animation: aniBorLeftS 12s 1.9s infinite; position: relative;}
/* ////////////////////////Universal//////////////////////// */
.aniBorTopOp{animation: aniBorTopOp 12s 1s infinite; position: relative;}
.aniBorRightOp{animation: aniBorRightOp 12s 1.2s infinite; position: relative;}
.aniBorBottomOp{animation: aniBorBottomOp 12s 1.4s infinite; position: relative;}
.aniBorLeftOp{animation: aniBorLeftOp 12s 1.6s infinite; position: relative;}
/* ////////////////////////Border-width//////////////////////// */
.aniBorTopW{animation: aniBorTopW 12s 1s infinite; position: relative;}
.aniBorRightW{animation: aniBorRightW 12s 1.3s infinite; position: relative;}
.aniBorBottomW{animation: aniBorBottomW 12s 1.6s infinite; position: relative;}
.aniBorLeftW{animation: aniBorLeftW 12s 1.9s infinite; position: relative;}
/* ////////////////////////Border-color//////////////////////// */
.aniBorTopC{animation: aniBorTopC 12s 1s infinite; position: relative;}
.aniBorRightC{animation: aniBorRightC 12s 1.3s infinite; position: relative;}
.aniBorBottomC{animation: aniBorBottomC 12s 1.6s infinite; position: relative;}
.aniBorLeftC{animation: aniBorLeftC 12s 1.9s infinite; position: relative;}
/* ////////////////////////Border-Universal//////////////////////// */
.aniBorS{animation: aniBorS 12s 1s infinite; position: relative;}
.aniBorW{animation: aniBorW 12s 1.3s infinite; position: relative;}
.aniBorC{animation: aniBorC 12s 1.6s infinite; position: relative;}
/* ////////////////////////Border-Radius//////////////////////// */
.aniBorTopLeftR{animation: aniBorTopLeftR 12s 1s infinite; position: relative;}
.aniBorTopRightR{animation: aniBorTopRightR 12s 1.3s infinite; position: relative;}
.aniBorBottomRightR{animation: aniBorBottomRightR 12s 1.6s infinite; position: relative;}
.aniBorBottomLeftR{animation: aniBorBottomLeftR 12s 1.9s infinite; position: relative;}
/* //////////////////////// */
.aniBorTopLeftOp{animation: aniBorTopLeftOp 12s 1s infinite; position: relative;}
.aniBorTopRightOp{animation: aniBorTopRightOp 12s 1.3s infinite; position: relative;}
.aniBorBottomRightOp{animation: aniBorBottomRightOp 12s 1.6s infinite; position: relative;}
.aniBorBottomLeftOp{animation: aniBorBottomLeftOp 12s 1.9s infinite; position: relative;}
/* ////////////////////////Padding//////////////////////// */
.aniPaddTop{animation: aniPaddTop 12s 1s infinite; position: relative;}
.aniPaddRight{animation: aniPaddRight 12s 1.3s infinite; position: relative;}
.aniPaddBottom{animation: aniPaddBottom 12s 1.6s infinite; position: relative;}
.aniPaddLeft{animation: aniPaddLeft 12s 1.9s infinite; position: relative;}
/* //////////////////////// */
.aniPaddTopOp{animation: aniPaddTopOp 12s 1s infinite; position: relative;}
.aniPaddRightOp{animation: aniPaddRightOp 12s 1.3s infinite; position: relative;}
.aniPaddBottomOp{animation: aniPaddBottomOp 12s 1.6s infinite; position: relative;}
.aniPaddLeftOp{animation: aniPaddLeftOp 12s 1.9s infinite; position: relative;}

/* ////////////////////////Backgrund//////////////////////// */
@keyframes aniBac{
    0%{left: 0px;}
    10%{left: 0px;}
    40%{left: 400px;}
    50%{left: 400px;}
    100%{left: 400px;}
}
@keyframes aniBac1{
    0%{left: 0px; bottom: 0px;}
    10%{left: 0px; bottom: 0px;}
    40%{left: 435px;bottom: 19px;}
    50%{left: 435px;bottom: 19px;}
    100%{left: 435px;bottom: 19px;}
}
@keyframes aniBac2{
    0%{left: 0px; bottom: 0px;}
    10%{left: 0px; bottom: 0px;}
    40%{left: 555px;bottom: 37.5px;}
    50%{left: 555px;bottom: 37.5px;}
    100%{left: 555px;bottom: 37.5px;}
}
@keyframes aniBac3{
    0%{left: 0px; bottom: 0px;}
    10%{left: 0px; bottom: 0px;}
    40%{left: 605px;bottom: 56px;}
    50%{left: 605px;bottom: 56px;}
    100%{left: 605px;bottom: 56px;}
}
@keyframes aniBac4{
    0%{left: 0px; bottom: 0px;}
    10%{left: 0px; bottom: 0px;}
    40%{left: 675px;bottom: 76px;}
    50%{left: 675px;bottom: 76px;}
    100%{left: 675px;bottom: 76px;}
}
@keyframes aniBac5{
    0%{left: 0px; bottom: 0px;}
    10%{left: 0px; bottom: 0px;}
    40%{left: 825px;bottom: 94px;}
    50%{left: 825px;bottom: 94px;}
    100%{left: 825px;bottom: 94px;}
}
@keyframes aniSlesh{
    0%{opacity: 0;}
    40%{opacity: 0;}
    100%{opacity: 1;}
}
/* ////////////////////////Border//////////////////////// */
@keyframes aniBorS{
    0%{left: 0px;}
    10%{left: 0px;}
    40%{left: 350px;}
    50%{left: 350px;}
    100%{left: 350px;}
}
@keyframes aniBorW{
    0%{left: 0px; bottom: 0px;}
    10%{left: 0px; bottom: 0px;}
    40%{left: 405px;bottom: 19px;}
    50%{left: 405px;bottom: 19px;}
    100%{left: 405px;bottom: 19px;}
}
@keyframes aniBorC{
    0%{left: 0px; bottom: 0px;}
    10%{left: 0px; bottom: 0px;}
    40%{left: 440px;bottom: 37.5px;}
    50%{left: 440px;bottom: 37.5px;}
    100%{left: 440px;bottom: 37.5px;}
}
/* ////////////////////////Border-style//////////////////////// */
@keyframes aniBorTopS{
    0%{left: 0px;}
    10%{left: 0px;}
    40%{left: 365px;}
    50%{left: 365px;}
    100%{left: 365px;}
}
@keyframes aniBorRightS{
    0%{left: 0px; bottom: 0px;}
    10%{left: 0px; bottom: 0px;}
    40%{left: 410px;bottom: 19px;}
    50%{left: 410px;bottom: 19px;}
    100%{left: 410px;bottom: 19px;}
}
@keyframes aniBorBottomS{
    0%{left: 0px; bottom: 0px;}
    10%{left: 0px; bottom: 0px;}
    40%{left: 465px;bottom: 37.5px;}
    50%{left: 465px;bottom: 37.5px;}
    100%{left: 465px;bottom: 37.5px;}
}
@keyframes aniBorLeftS{
    0%{left: 0px; bottom: 0px;}
    10%{left: 0px; bottom: 0px;}
    40%{left: 545px;bottom: 56px;}
    50%{left: 545px;bottom: 56px;}
    100%{left: 545px;bottom: 56px;}
}
/**********************Universal************************/
@keyframes aniSleshBor{
    0%{opacity: 0;}
    30%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 1;}
}
@keyframes aniBorTopOp{
    0%{left: 0px;}
    10%{left: 0px;}
    40%{left: 365px;}
    50%{left: 365px;}
    100%{left: 365px;}
}
@keyframes aniBorRightOp{
    0%{left: 0px; bottom: 0px; opacity: 1;}
    10%{left: 0px; bottom: 0px; opacity: 1;}
    40%{left: 365px;bottom: 19px; opacity: 0;}
    50%{left: 365px;bottom: 19px; opacity: 0;}
    100%{left: 365px;bottom: 19px; opacity: 0;}
}
@keyframes aniBorBottomOp{
    0%{left: 0px; bottom: 0px; opacity: 1;}
    10%{left: 0px; bottom: 0px; opacity: 1;}
    40%{left: 365px;bottom: 37.5px; opacity: 0;}
    50%{left: 365px;bottom: 37.5px; opacity: 0;}
    100%{left: 365px;bottom: 37.5px; opacity: 0;}
}
@keyframes aniBorLeftOp{
    0%{left: 0px; bottom: 0px; opacity: 1;}
    10%{left: 0px; bottom: 0px; opacity: 1;}
    40%{left: 365px;bottom: 56px; opacity: 0;}
    50%{left: 365px;bottom: 56px; opacity: 0;}
    100%{left: 365px;bottom: 56px; opacity: 0;}
}
/* ////////////////////////Border-width//////////////////////// */
@keyframes aniBorTopW{
    0%{left: 0px;}
    10%{left: 0px;}
    40%{left: 362px;}
    50%{left: 362px;}
    100%{left: 362px;}
}
@keyframes aniBorRightW{
    0%{left: 0px; bottom: 0px;}
    10%{left: 0px; bottom: 0px;}
    40%{left: 378px;bottom: 18.8px;}
    50%{left: 378px;bottom: 18.8px;}
    100%{left: 378px;bottom: 18.8px;}
}
@keyframes aniBorBottomW{
    0%{left: 0px; bottom: 0px;}
    10%{left: 0px; bottom: 0px;}
    40%{left: 413px;bottom: 37.8px;}
    50%{left: 413px;bottom: 37.8px;}
    100%{left: 413px;bottom: 37.8px;}
}
@keyframes aniBorLeftW{
    0%{left: 0px; bottom: 0px;}
    10%{left: 0px; bottom: 0px;}
    40%{left: 476px;bottom: 55.8px;}
    50%{left: 476px;bottom: 55.8px;}
    100%{left: 476px;bottom: 55.8px;}
}
/* ////////////////////////Border-color//////////////////////// */
@keyframes aniBorTopC{
    0%{left: 0px;}
    10%{left: 0px;}
    40%{left: 362px;}
    50%{left: 362px;}
    100%{left: 362px;}
}
@keyframes aniBorRightC{
    0%{left: 0px; bottom: 0px;}
    10%{left: 0px; bottom: 0px;}
    40%{left: 378px;bottom: 18.8px;}
    50%{left: 378px;bottom: 18.8px;}
    100%{left: 378px;bottom: 18.8px;}
}
@keyframes aniBorBottomC{
    0%{left: 0px; bottom: 0px;}
    10%{left: 0px; bottom: 0px;}
    40%{left: 420px;bottom: 37.8px;}
    50%{left: 420px;bottom: 37.8px;}
    100%{left: 420px;bottom: 37.8px;}
}
@keyframes aniBorLeftC{
    0%{left: 0px; bottom: 0px;}
    10%{left: 0px; bottom: 0px;}
    40%{left: 480px;bottom: 55.8px;}
    50%{left: 480px;bottom: 55.8px;}
    100%{left: 480px;bottom: 55.8px;}
}
/* ////////////////////////Border-Universal//////////////////////// */
@keyframes aniBorS{
    0%{left: 0px;}
    10%{left: 0px;}
    40%{left: 347px;}
    50%{left: 347px;}
    100%{left: 347px;}
}
@keyframes aniBorW{
    0%{left: 0px; bottom: 0px;}
    10%{left: 0px; bottom: 0px;}
    40%{left: 398px;bottom: 18.8px;}
    50%{left: 398px;bottom: 18.8px;}
    100%{left: 398px;bottom: 18.8px;}
}
@keyframes aniBorC{
    0%{left: 0px; bottom: 0px;}
    10%{left: 0px; bottom: 0px;}
    40%{left: 440px;bottom: 37.8px;}
    50%{left: 440px;bottom: 37.8px;}
    100%{left: 440px;bottom: 37.8px;}
}
/* ////////////////////////Border-Radius//////////////////////// */
@keyframes aniBorTopLeftR{
    0%{left: 0px;}
    10%{left: 0px;}
    40%{left: 425px;}
    50%{left: 425px;}
    100%{left: 425px;}
}
@keyframes aniBorTopRightR{
    0%{left: 0px; bottom: 0px;}
    10%{left: 0px; bottom: 0px;}
    40%{left: 460px;bottom: 18.8px;}
    50%{left: 460px;bottom: 18.8px;}
    100%{left: 460px;bottom: 18.8px;}
}
@keyframes aniBorBottomLeftR{
    0%{left: 0px; bottom: 0px;}
    10%{left: 0px; bottom: 0px;}
    40%{left: 475px;bottom: 37.8px;}
    50%{left: 475px;bottom: 37.8px;}
    100%{left: 475px;bottom: 37.8px;}
}
@keyframes aniBorBottomRightR{
    0%{left: 0px; bottom: 0px;}
    10%{left: 0px; bottom: 0px;}
    40%{left: 525px;bottom: 55.8px;}
    50%{left: 525px;bottom: 55.8px;}
    100%{left: 525px;bottom: 55.8px;}
}
/* //////////// */
@keyframes aniBorTopLeftOp{
    0%{left: 0px;}
    10%{left: 0px;}
    40%{left: 425px;}
    50%{left: 425px;}
    100%{left: 425px;}
}
@keyframes aniBorTopRightOp{
    0%{left: 0px; bottom: 0px; opacity: 1;}
    10%{left: 0px; bottom: 0px; opacity: 1;}
    40%{left: 425px;bottom: 19px; opacity: 0;}
    50%{left: 425px;bottom: 19px; opacity: 0;}
    100%{left: 425px;bottom: 19px; opacity: 0;}
}
@keyframes aniBorBottomLeftOp{
    0%{left: 0px; bottom: 0px; opacity: 1;}
    10%{left: 0px; bottom: 0px; opacity: 1;}
    40%{left: 425px;bottom: 37.5px; opacity: 0;}
    50%{left: 425px;bottom: 37.5px; opacity: 0;}
    100%{left: 425px;bottom: 37.5px; opacity: 0;}
}
@keyframes aniBorBottomRightOp{
    0%{left: 0px; bottom: 0px; opacity: 1;}
    10%{left: 0px; bottom: 0px; opacity: 1;}
    40%{left: 425px;bottom: 56px; opacity: 0;}
    50%{left: 425px;bottom: 56px; opacity: 0;}
    100%{left: 425px;bottom: 56px; opacity: 0;}
}
/* ////////////////////////Padding//////////////////////// */
@keyframes aniPaddTop{
    0%{left: 0px;}
    10%{left: 0px;}
    40%{left: 368px;}
    50%{left: 368px;}
    100%{left: 368px;}
}
@keyframes aniPaddRight{
    0%{left: 0px; bottom: 0px;}
    10%{left: 0px; bottom: 0px;}
    40%{left: 395px;bottom: 18.8px;}
    50%{left: 395px;bottom: 18.8px;}
    100%{left: 395px;bottom: 18.8px;}
}
@keyframes aniPaddBottom{
    0%{left: 0px; bottom: 0px;}
    10%{left: 0px; bottom: 0px;}
    40%{left: 430px;bottom: 37.8px;}
    50%{left: 430px;bottom: 37.8px;}
    100%{left: 430px;bottom: 37.8px;}
}
@keyframes aniPaddLeft{
    0%{left: 0px; bottom: 0px;}
    10%{left: 0px; bottom: 0px;}
    40%{left: 490px;bottom: 55.8px;}
    50%{left: 490px;bottom: 55.8px;}
    100%{left: 490px;bottom: 55.8px;}
}
/* //////////// */
@keyframes aniPaddTopOp{
    0%{left: 0px;}
    10%{left: 0px;}
    40%{left: 368px;}
    50%{left: 368px;}
    100%{left: 368px;}
}
@keyframes aniPaddRightOp{
    0%{left: 0px; bottom: 0px; opacity: 1;}
    10%{left: 0px; bottom: 0px; opacity: 1;}
    40%{left: 368px;bottom: 19px; opacity: 0;}
    50%{left: 368px;bottom: 19px; opacity: 0;}
    100%{left: 368px;bottom: 19px; opacity: 0;}
}
@keyframes aniPaddBottomOp{
    0%{left: 0px; bottom: 0px; opacity: 1;}
    10%{left: 0px; bottom: 0px; opacity: 1;}
    40%{left: 368px;bottom: 37.5px; opacity: 0;}
    50%{left: 368px;bottom: 37.5px; opacity: 0;}
    100%{left: 368px;bottom: 37.5px; opacity: 0;}
}
@keyframes aniPaddLeftOp{
    0%{left: 0px; bottom: 0px; opacity: 1;}
    10%{left: 0px; bottom: 0px; opacity: 1;}
    40%{left: 368px;bottom: 56px; opacity: 0;}
    50%{left: 368px;bottom: 56px; opacity: 0;}
    100%{left: 368px;bottom: 56px; opacity: 0;}
}
/* ***************************Transform shows******************************** */
.show{transform: translate(50px,50px);}
.show1{transform: translateX(50px);}
.show2{transform: translateY(50px);}
.show3{transform: scale(2,2);}
.show4{transform: scaleX(2);}
.show5{transform: scaleY(2);}
.show6{transform: rotate(30deg);}
.show7{transform: rotateX(50deg);}
.show8{transform: rotateY(50deg);}
.show9{transform: perspective(200px) rotateY(50deg);}
.show10{transform: skew(10deg,20deg);}
.show11{transform: skewX(10deg);}
.show12{transform: skewY(20deg);}
.sho{transition: all 1s; border: 2px solid red; width: 100px; height: 100px; background-color: yellow;}



/* *********************test*************************** */

/* .animeColor{
    animation: animeColor 10s 2.5s infinite;
} */
/* @keyframes animeColor{
    0%{color: black;}
    10%{color: red;}
    20%{color: red;}
    30%{color: red;}
    40%{color: green;}
    50%{color: green;}
    60%{color: green;}
    70%{color: blue;}
    80%{color: blue;}
    100%{color: blue;}
} */