*{
    transition: all 1s;
}
body{
    padding: 0px;
    margin: 0;
}
.box{
    /* outline: 2px solid red; */
    height: 90px;
}
.center{text-align: center;}
img{display: none;}
b{color: red;display: none;}
.ok{
    width: 400px;
    height: 600px;
    padding: 10px;
    border-style: outset;
    border-width: 10px;
    border-color: grey;
    background: linear-gradient(to right, rgba(251, 208, 215,0.5), rgba(255, 71, 187,0.5));
    /* position: absolute; */
}
.ok:hover{
    background-color: rgb(255, 255, 255,1);
}
.ok:hover{box-shadow: 0px 0px 20px 10px rgba(255, 112, 136, 0.301);}
h3{
    margin: 0;
}
input{
    margin-bottom: 45px;
}
i{color: red;display: none;font-size: 15px;}
/* form{display: none;} */
.container{
    width: 100%;
    position: absolute;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div{
    width: 103px;
    height: 103px;
    float: left;
    animation: anime 7s linear infinite;
    z-index: 1;
}
@keyframes anime{
    0%{box-shadow: 0px 0px 0px 0px grey;}
    10%{box-shadow: 1px 1px 5px 1px grey;}
    20%{box-shadow: 2px 2px 5px 2px grey;}
    30%{box-shadow: 3px 3px 5px 3px grey;}
    40%{box-shadow: 2px 2px 5px 2px grey;}
    50%{box-shadow: 1px 1px 5px 1px grey;}
    80%{box-shadow: 0px 0px 0px 0px grey;}
    90%{box-shadow: 0px 0px 0px 0px grey;}
    100%{box-shadow: 0px 0px 0px 0px grey;}
}
.reset,button{
    background: linear-gradient(to right, pink, #ff00a2);
    padding: 10px;
    border: 0;
    border-radius: 20px 0;
    margin: 20px;
    cursor: pointer;
}
.reset:hover,a:hover{
    box-shadow: 0px 0px 10px 5px #ff00a235;
}
.reset:active,a:active{
    background: linear-gradient(to right, rgb(251, 208, 215), rgb(255, 71, 187));
    /* background: linear-gradient(to right, pink, #ff00a2); */
}
@media screen and (max-width: 500px){
    .ok{
        width: 270px;
        height: 450px;
    }
    input{
        margin: 8px;
        width: 100px;
    }
    img{
        width: 12px;
    }
    b{font-size: 12px;}
    .reset,a{
        padding: 7px;
        margin-top: 35px;
    }
    .div{
        width: 56px;
        height: 56px;
    }
    h1{font-size: 25px;}
    h3{font-size: 15px;}
    .box{
        height: 60px;
    }
}